In [2]:
# import pandas
import pandas as pd

In [3]:
# path for csv
budget_data = "Resources/budget_data.csv"

In [4]:
# reads data
budget_data_pd = pd.read_csv(budget_data)

In [5]:
#prints the list
budget_data_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# prints lenth of data
# The total number of months included in the dataset
len1 = len(budget_data_pd)
len1

86

In [89]:
# The total net amount of "Profit/Losses" over the entire period

Total_Net_Amount = budget_data_pd["Profit/Losses"].sum()
Total_Net_Amount

38382578

In [90]:
# prints Min/Max stats
max = budget_data_pd.max()
min = budget_data_pd.min()
print(max)
print(min)

Date             Sep-2016
Profit/Losses     1170593
dtype: object
Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [91]:
# prints results of Total Months
print("Total Months:" + str(len1))

# prints results of Total Net Amount)
print("Total:" + str(Total_Net_Amount))

# prints results of MIN/ MAX)
print("Greatest Increase in Profits: " + str(max))
print("Greatest Decrease in Profits: " + str(min))

Total Months:86
Total:38382578
Greatest Increase in Profits: Date             Sep-2016
Profit/Losses     1170593
dtype: object
Greatest Decrease in Profits: Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [1]:
# opens new text file
Results = open("ResultsFile.txt", "w+")\

# used functions to write to text file
Results.write("Financial Analysis" + "\r\n")
Results.write("------------------------------------\r\n")
Results.write("Total Months: " + str(len1) + "\r\n")
Results.write("Total: " + str(Total_Net_Amount) + "\r\n")
Results.write("Greatest Increase in Profits: " + str(max) + "\r\n")
Results.write("Greatest Decrease in Profits: " + str(min) + "\r\n")

# used to close text file
Results.close()

NameError: name 'len1' is not defined